__pycache__/
*.pyc
*.pyd
.venv/
env/
venv/
env/
*.egg
.pytest_cache/
/htmlcov
.coverage
build/
dist/
*.manifest
*.spec
*.sqlite
/migrations/versions/* 
!/migrations/versions/.gitkeep #include the .gitkeep file

.env
.flaskenv

logs/
*.log
__pycache__/
*.py[cod]
*$py.class

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.tox/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this.txt

conda-meta/
conda-env.txt
*.requirements.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.bzr
*.orig
*.swp
.ropeproject
.tags
.cache
.pickle

.DS_Store
Thumbs.db

.vscode/